@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100%;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: black;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}